#python=3.12.0
pandas==3.0.1
rdkit==2025.9.3
nglview
#ipynb pkgs
notebook
nbformat
ipywidgets
jupyterlab-widgets
mdtraj # conda
openmm # conda
openmmforcefields # conda
openff-toolkit # conda
pdbfixer # conda
pypdb # conda
rdkit # conda

