#python=3.11
numpy
matplotlib
nglview
pypdb
#ipynb pkgs
notebook
nbformat
ipywidgets<8
jupyterlab-widgets
#OpenCADD pkgs
pandas
rdkit
MDAnalysis
redo
bravado
biopandas
biotite
bio
git+https://github.com/volkamerlab/opencadd.git@biopython_update
openbabel # conda
plip # conda
smina # conda

