#python=3.11.0
matplotlib
beautifulsoup4
tqdm
nglview
pypdb
requests_cache
#ipynb pkgs
notebook
ipywidgets
jupyterlab-widgets
#OpenCADD pkgs
MDAnalysis
pandas
redo
bravado
biopandas
rdkit
biotite
bio
https://github.com/volkamerlab/opencadd/archive/master.tar.gz
