#python=3.11.0
matplotlib
beautifulsoup4
tqdm
nglview
pypdb
requests_cache
#ipynb pkgs
notebook
nbformat
ipywidgets
jupyterlab-widgets
#OpenCADD pkgs
MDAnalysis
pandas
redo
bravado
biopandas
rdkit
biotite
bio
#git+https://github.com/volkamerlab/opencadd.git@biopython_update
git+https://github.com/gph82/opencadd.git@5f9e18f89a28c5f51218bc2a5ae92d24ff92fdfa
