#python=3.11.0
numpy<2
pandas
seaborn
matplotlib
scikit-learn
scipy
#ipynb pkgs
notebook
ipywidgets
jupyterlab-widgets
#OpenCADD pkgs
MDAnalysis
pandas
redo
bravado
biopandas
rdkit
biotite
bio
git+https://github.com/volkamerlab/opencadd.git@biopython_update